{% extends "base.html" %}
{% load static %}
{% block body %}
<!--<h4>This is About Us Page</h4>-->
<div class="container-fluid">
    <div class="row m-2 mt-0 mb-0 p-0">
        <div class="col-sm-12 pt-2 p-0 bg-white border border-4 border-info overflow-auto" style="height: 540px; border-radius: 10px 10px 10px 10px; overflow: hidden;">
            <h3 class="text-center pt-2 p-0 fw-bold" style="color: #036b90;">About Jobs At Mail</h3>
                    <hr class="border border-warning border-2 opacity-50" style="width: 70%; margin-left: 15%;">
                <div class="text-dark p-5 pt-3 text-justify" style="font-size: 17px; text-justify: inter-word;">
                    <p><b>The Jobs At Mail</b> is intermediate between Jobseekers and Employers. The purpose is to enable the Jobseekers to search for the jobs from any remote location. The Jobseeker can Search for the jobs which with the Consultancy without actually visiting the Consultancy.</p>
                <p>The major prospect of this project is to make an applications which is administrative based to provide the complete information of the Job consultancy’s that the job seeker can be made easy in searching jobs and recruiting for companies.</p>
                    <p>Applicants can browse through the vacancy details that are posted and can apply for the jobs online. Employers can browse through the posted resumes and select suitable candidates.</p>
                    <p>Jobs At Mail is a online platform that provides job boarding solutions and helps job seekers to apply for posts that they are suitable for.</p>
                    <p>Popular job board software like Monster and Naukri provide an open-ended job portal where all companies can post their job vacancies, and candidates can choose from a comprehensive list of options. However, many top tiering companies have started to create their own job portals to attract viable candidates and conduct their recruitment process. It is an excellent model for an organization to locate ideal candidates for various job positions and helps consolidate their resumes. In addition, it enables them to extend their reach and find the best candidate for their vacancy. Hire on-demand dedicated developers of desired skill & experience.</p>
                    <p>It provides a broader perspective and takes applications from all around the world. Considering that human resource is one of the most expensive assets of a business, you need to make sure that you have the most efficient person for that job.</p>
                </div>
        </div>
    </div>
</div>
{% endblock body %}

{% block add %}
<div class="row">
<div class="col-sm-12" style="background-image: url('{% static 'images/slide_4.jpeg' %}'); background-size: cover;">
<div class="row m-3 mt-5">
    <div class="col-sm-12 aboutDiv1 shadow"  style="font-size: 18px; border-radius: 20px 0px 20px 0px; border: 4px solid #0dcaf0;">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="text-center fw-bold pt-3 p-0" style="color: #036b90;">Jobs At Mail For Jobseeker</h3>
                    <hr class="border border-warning border-2 opacity-50" style="width: 70%; margin-left: 15%;">

            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
            <div class="text-dark p-5 pt-3 text-justify">
                    <p><b>J</b>obs <b>A</b>t <b>M</b>ail provides functionalities for job seekers. Applicants can post their resumes with personal and professional details.</p>
                    <p>They can also update the resume as frequently as required. The applicant can also browse through the present vacancies available.</p>
                    <p>The major prospect of this project is to make an applications which is administrative based to provide the complete information of the Job consultancy’s that the job seeker can be made easy in searching jobs and recruiting for companies.</p>

                </div>
               </div>

            <div class="col-sm-4">
                <img src="{% static 'images/cardimages/js4.jpg' %}" width="100%" height="60%" style="margin-top: 10%; marign-left: -10%;"/>
            </div>
        </div>
    </div>
</div>
<div class="row mt-5 m-3">
    <div class="col-sm-12 aboutDiv2 shadow" style="font-size: 18px; border-radius: 20px 0px 20px 0px; border: 4px solid #ffc107;">

<h3 class="text-center fw-bold pt-3 p-0" style="color: #036b90;">Jobs At Mail For Recruiters</h3>
                    <hr class="border border-warning border-2 opacity-50"  style="width: 70%; margin-left: 15%;">
                <div class="text-dark p-5 pt-3 text-justify">
                <p>The major prospect of this project is to make an applications which is administrative based to provide the complete information of the Job consultancy’s that the job seeker can be made easy in searching jobs and recruiting for companies.</p>
                <p>In Existing system, Employers need to advertise the vacancies and sort all applicant details, conduct selection procedures and complete the formalities.</p>
                <p>But in JAM Employers can post vacancy details and update the details as and when necessary.</p>
                <p>Employers can search through applicant resumes based on different criteria.</p></div>

    </div>
</div>
        </div>
</div>
{% endblock add %}