{% extends "empbase.html" %}
{% block body %}
<div class="container-fluid">
<div class="row mt-0">
    <div class="col-sm-12 ms-2" >
        <div class="shadow borderani" style="border: 4px solid #2f2965; padding-top: 20px;">
            <h4 style="color: #2f2965; text-align: center">
               Change Password
            </h4>
      <hr class="border border-secondary border-2 opacity-50" style="width: 70%; margin-left: 15%;">

{% if msg %}
<div class="alert alert-danger" style="width: 80%; margin: 3% auto; text-align: center;">{{msg}}</div>
{% endif %}
<div class=" fw-bold fs-6" style="width: 60%; margin: 0 auto;">
<form action="{% url 'empchangepwd' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label>Enter Old Password:</label>
        <input type="password" name="oldpassword" class="form-control botborder" required="true"/>
    </div>
    <div class="form-group">
        <label>Enter New Password:</label>
        <input type="password" name="newpassword" class="form-control botborder" required="true"/>
    </div>
    <div class="form-group">
        <label>Confirm New Password:</label>
        <input type="password" name="confirmpassword" class="form-control botborder" required="true"/>
    </div>
    <br/>
    <div class="form-group"  style="margin-left: 30%;">
    <input type="submit" value="Change" class="btn" style="color: white; background-color: #2f2965;"/>
    <input type="reset" value="Reset" class="btn btn-secondary"/>
    </div>
</form><br/>
</div>
        </div>
    </div>
</div>
</div>
{% endblock body %}