{% extends "empbase.html" %}
{% load static %}
{% block body %}


<div class="row ms-1" style="background-image: url('{% static 'images/cardimages/image2.jpg' %}'); background-size: cover; box-sizing: border-box; --bs-bg-opacity: .1;">
    <div class="col-sm-12 mt-4 mb-5 p-3 pe-5 ps-5 fs-5" style="border: 4px groove #2f2965; border-radius: 2%; width: 90%; margin: 0 auto; background-color: white; opacity: .9; ">
<h2 class="text-center m-3 fw-bold" style="color: #2f2965;">Welcome !</h2>
          <hr class="border border-secondary border-2 opacity-50" style="width: 70%; margin-left: 15%;">

        <h4>Get Start with JAM!</h4>
        <p>There is no need to advertise the vacancies and sort all applicant details, conduct selection procedures and complete the formalities. Just post jobs on one click.</p>
        <h5>Post Jobs</h5>
<p>Posting Jobs on Jobs At Mail is as simple and fast as posting a an email.<br/> You can post jobs by just filling a form and can also change or update the job details. You can specify the qualifications and skills that you want to be acquired by the applicatant.</p>
        <h5>Manage Applicants</h5>
<p>You can view applicant's details, resume, conduct online/virtual interviews, sort candidates according to skills or requirement and also track the selection process</p>

    </div>

</div>

{% endblock body %}