{% extends "adminbase.html" %}
{% block body %}

    <h4 style="color: #2f2965; text-align: center; margin-top: 3%;">
        Enquiry Management
    </h4>
      <hr class="border border-secondary border-2 opacity-50" style="width: 70%; margin-left: 15%;">

    <div style="overflow-x: scroll;">
        <table class="table table-striped" border="1">
            <tr>
                <th>Name</th>
                <th>Gender</th>
                <th>Address</th>
                <th>Contact No</th>
                <th>Email Address</th>
                <th>Enquiry Text</th>
                <th>Posted Date</th>
            </tr>
            {% for e in enq %}
            <tr>
                <td>{{e.name}}</td>
                <td>{{e.gender}}</td>
                <td>{{e.address}}</td>
                <td>{{e.contactno}}</td>
                <td>{{e.emailaddress}}</td>
                <td>{{e.enquirytext}}</td>
                <td>{{e.posteddate}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

{% endblock body %}