{% extends "jobbase.html" %}
{% load static %}

{% block body %}
<div class="container-fluid">
<div class="row mt-0">
    <div class="col-sm-12 ms-2" >
        <div class="shadow borderani" style="border: 4px solid #2f2965; padding-top: 20px;">
            <h4 style="color: #2f2965; text-align: center;">
               Change Password
            </h4>
      <hr class="border border-secondary border-2 opacity-50" style="width: 70%; margin-left: 15%;">
{% if msg %}
<div class="alert alert-danger" style="width: 80%; margin: 3% auto; text-align: center;">{{msg}}</div>
{% endif %}

    <div class="row mt-2">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 fw-bold">
            <form action="{% url 'jobchangepwd' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label>Enter Old Password</label>
                    <input type="password" name="oldpassword" class="botborder form-control" required="true"/>
                </div>
                <div class="form-group">
                    <label>Enter New Password</label>
                    <input type="password" name="newpassword"  class="botborder form-control" required="true"/>
                </div>
                <div class="form-group">
                    <label>Confirm Password</label>
                    <input type="password" name="confirmpassword" class="botborder form-control" required="true"/>
                </div>
                <br/>
                <div class="form-group" style="margin-left: 30%;">
                    <input type="submit" value="Change" class="btn" style="color: white; background-color: #2f2965;"/>
                    <input type="reset" value="Reset" class="btn btn-secondary"/>
                </div>
            </form>
            <br/>
        </div>
        <div class="col-sm-3"></div>
    </div>
        </div>
    </div>
</div>
</div>
{% endblock body %}

