{% extends "jobbase.html" %}
{% load static %}

{% block body %}
<div class="row">
    <div class="col-sm-12 h-100">
        <div class="row">
            <div class="col-sm-12">
                <h1 style="color: #2f2965; text-align: center; margin: 4%; font-family: times new roman; font-weight: bold;">Evolve Your Career with Jobs At Mail!</h1>
                      <hr class="border border-secondary border-2 opacity-50" style="width: 70%; margin-left: 15%;">

            </div>
        </div>
        <div class="row" style="box-sizing: border-box; margin-top: 5%;">
            <div class="col-sm-6 shadow" style="border: 0.5px solid grey; border-right: 2px solid orange; box-sizing: border-box;">
                <i style="color: orange; font-size: 300%; border: 3px solid orange; padding: 5%; margin: 2%;" class="fa-solid fa-briefcase"></i>
                <a href="#" style="text-decoration: none; color: black; font-size: 180%;">Newest Jobs</a>
            </div>
            <div class="col-sm-6 shadow" style="border: 0.5px solid grey; border-right: 2px solid blue; box-sizing: border-box;">
                <i style="color: blue; font-size: 300%; border: 3px solid blue; padding: 5%; margin: 2%;"  class="fa-solid fa-clipboard-list"></i>
                <a href="#" style="text-decoration: none; color: black; font-size: 180%;">My Applied Jobs</a>
            </div>
        </div>
        <div class="row" style="box-sizing: border-box; margin-top: 5%;">
            <div class="col-sm-6 shadow" style="border: 0.5px solid grey; border-right: 2px solid green; box-sizing: border-box;">
                <i style="color: green; font-size: 300%; border: 3px solid green; padding: 5%; margin: 2%;"  class="fa-regular fa-file-lines"></i>
                <a href="#" style="text-decoration: none; color: black; font-size: 180%;">My Resume</a>
            </div>
            <div class="col-sm-6 shadow" style="border: 0.5px solid grey; border-right: 2px solid purple; box-sizing: border-box;">
                <i style="color: purple; font-size: 300%; border: 3px solid purple; padding: 5%; margin: 2%;" class="fa-brands fa-searchengin"></i>
                <a href="#" style="text-decoration: none; color: black; font-size: 180%;">Search Jobs</a>
            </div>
        </div>
        <div class="row" style="box-sizing: border-box; margin-top: 5%;">
            <div class="col-sm-6 shadow" style="border: 0.5px solid grey; border-right: 2px solid red; box-sizing: border-box;">
                <i style="color: red; font-size: 300%; border: 3px solid red; padding: 5%; margin: 2%;" class="fa-sharp fa-solid fa-comment-medical"></i>
                <a href="#" style="text-decoration: none; color: black; font-size: 180%;">Career Advice</a>
            </div>
            <div class="col-sm-6 shadow" style="border: 0.5px solid grey; border-right: 2px solid #00b3b3; box-sizing: border-box;">
                <i style="color: #00b3b3; font-size: 300%; border: 3px solid #00b3b3; padding: 5%; margin: 2%;" class="fa-solid fa-earth-americas"></i>
                <a href="#" style="text-decoration: none; color: black; font-size: 180%;">Work over world</a>
            </div>
        </div>
    </div>
</div>
{% endblock body %}