{% extends "base.html" %}
{% load static %}
{% block body %}
<div class="container-fluid">
<div class="row ms-1" style=" box-sizing: border-box;">
  <div class="col-sm-12" style="box-sizing: border-box;">

   <div class=" ms-2 me-2 m-1 pt-3 border border-4 border-info" style="border-radius: 5px;  box-shadow: 7px 7px 5px lightblue;">
<h4 style="color: #036b90; text-align: center; padding: 5px 0px;">
        Jobseeker Registration Form
    </h4>
       <hr class="border border-warning border-2 opacity-50" style="width: 70%; margin-left: 15%;">
    {% if msg %}
    <div class="alert alert-success" style="width: 80%; margin: 3% auto; text-align: center;">{{msg}}</div>
    {% endif %}
    <div style="width: 60%; margin: 0 auto;" class="fw-bold">
        <form action="{% url 'jsreg' %}" method="post" name="jsreg" onsubmit="return validateForm()">
            {% csrf_token %}

            <div class="form-group">
                <label>Enter Your Name</label>
                <input type="text" name="name" class="botborder form-control " required="true"/>
            </div>
            <div class="form-group">
                <label>Select Your Gender</label>
                <br/>
                <input type="radio" name="gender" value="Male"/> Male
                <input type="radio" name="gender" value="Female"/> Female
            </div>
            <div class="form-group">
                <label>Enter Your Address</label>
                <textarea name="address" class="botborder form-control"></textarea>
            </div>
            <div class="form-group">
                <label>Enter Contact No</label>
                <input type="number" name="contactno"  class="botborder form-control" required="true"/>
            </div>
            <div class="form-group">
                <label>Enter Email Address</label>
                <input type="email" name="emailaddress" class="botborder form-control" required="true"/>

            </div>
            <div class="form-group">
                <label>Enter Date of Birth</label>
                <input type="date" name="dob" class="botborder form-control"/>
            </div>
            <div class="form-group">
                <label>Select Qualification</label>
                <select name="qualification" class="botborder form-control">
                    <option>-Select-</option>
                    <option>Diploma</option>
                    <option>B.Tech.</option>
                    <option>B.C.A</option>
                    <option>M.Tech</option>
                    <option>M.C.A</option>
                    <option>M.B.A</option>
                </select>
            </div>
            <div class="form-group">
                <label>Select Experience</label>
                <select name="experience" class="botborder form-control">
                    <option>0 Years</option>
                    <option>1 Years</option>
                    <option>2 Years</option>
                    <option>3 Years</option>
                    <option>4 Years</option>
                    <option>5 Years</option>
                    <option>More than 5 Years</option>
                </select>
            </div>
            <div class="form-group">
                <label>Enter Keyskills</label>
                <textarea name="keyskills" class="botborder form-control"></textarea>
            </div>
            <div class="form-group">
                <label>Enter Password</label>
                <input type="password" name="password" required="true" class=" botborder form-control" style="width: 100%;"/>
            </div>
            <div class="form-group" style="padding-left: 30%;">
                <br/>
                <input type="submit" value="Register" class="btn btn-warning"/>&nbsp;

                <input type="reset" value="Reset" class="btn btn-info"/>
            </div><br/>
        </form>

    </div>
   </div>
  </div>
</div>
</div>

{% endblock body %}