.nav-item
{
height: 40px;
padding: 3px;
margin-right: 5px;
box-sizing: border-box;
}
.nav-item:hover
{
border-bottom: 3px solid #2f2965;
border-radius: 5px;
box-sizing: border-box;
}
.nav-item a
{
color: #2f2965;
font-size: 18px;
padding-top: 3px;
}
.nav-item a:hover
{
color: #2f2965;
font-weight: bold;
}
.botborder
{
border: 1px solid grey;
border-bottom: 3px solid grey;
border-radius: 5px;
}
.left
{

 min-height: 500px;

}
.right
{
background-color: white;
min-height: 500px;
}

/* Border Animation Failed
.borderani
{
height: 100%;
width: 100%;
position: relative;
outline: none;
border: none;
}
div.borderani:before
{
position: absolute;
content: initial;
height: 0;
width: 0;
border: 8px solid transparent;
bottom: 0;
left: 0;
box-sizing:border-box;
}
.borderani:hover:before
{
height: 100%;
width: 100%;
border: 6px solid #2f2965;
border-right: none;
border-bottom: none;
transition: height 0.5s linear,
            width 0.5s linear 0.5s;
}
.borderani:after
{
position: absolute;
content: initial;
height: 0;
width: 0;
border: 6px solid transparent;
top: 0;
right: 0;
}

.borderani:hover:after
{
height: 100%;
width: 100%;
border: 8px solid #2f2965;
border-left: none;
border-top: none;
transition: height 0.5s linear,
            width 0.5s linear 0.5s;
}
*/